@import './Styles.scss';

.app {
  background: $white;
  font-family: auto;
  height: 100vh;
  padding: 30px;

  .header {
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
    background-color: $ocean-blue;
    color: $white;
    margin-bottom: 30px;
  }

  .backlog {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.45;
  }
}

.todo-list {
  background: $cream-white;
  border-radius: 4px;
  max-width: 350px;
  padding: 5px;
  margin: 0px 15px;
}
