//global styles 
@import './Variables.scss';

.my-0 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.h-40 {
    height: 40px;
}

.mx-8 {

    margin-right: 8px;
    margin-left: 8px;
}

.mx-20 {

    margin-right: 20px;
    margin-left: 20px;
}